.input-group {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 10px;
	width: 100% !important;
}
#search-input,
#search-button {
	width: 100%;
	border-radius: 4px;
}

#search-input {
	padding: 10px 5px;
}

#search-button {
	padding: 4px 0;
}
.input-group-append {
	display: flex;
	flex-direction: column;
}
.weather-hr {
	border: 2px solid #ccc;
	width: 100%;
}

#header {
	background: rgb(27, 165, 255);
	background: linear-gradient(90deg, rgba(27, 165, 255, 1) 0%, rgba(50, 0, 103, 1) 100%) !important;
}
#header > h1 {
	font-weight: 700;
}

#today {
	border: 1px solid #282828;
	border-radius: 5px;
	padding: 10px;
	display: none;
}
